{% extends 'base.html' %} {% block title %} Home {% endblock title %} {% block content %} {% if user.is_authenticated %} Hi {{user.username}}! You are {{user.age}} years old.
<p><a href="{% url 'logout' %}" class="btn btn-outline-danger btn-sm">Log out</a></p>
{% else %}
<p class="font-weight-bold">You are not logged in</p>
<a class="btn btn-primary btn-sm" href="{% url 'login' %}">Log In</a>
<a class="btn btn-info btn-sm" href="{% url 'signup' %}">Sign Up</a>

{% endif %} {% endblock content %}
